@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>404 Page</title>
<meta name="description" content="这是一个404页面">
<meta name="keywords" content="404">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="apple-mobile-web-app-title" content="WebBookmark" />
<link rel="icon" type="image/png" href="~/assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="~/assets/i/app-icon72x72@2x.png">
<link rel="stylesheet" href="~/assets/css/amazeui.min.css" />
<link rel="stylesheet" href="~/assets/css/admin.css">
<!-- content start -->
<div class="admin-content">
    <div class="am-g">
        <div class="am-u-sm-12">
            <h2 class="am-text-center am-text-xxxl am-margin-top-lg">404. Not Found</h2>
            <p class="am-text-center">没有找到你要的页面</p>
            <pre class="page-404">
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' #          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  404!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
        </pre>
        </div>
    </div>
</div>
<!-- content end -->
