
@{
    ViewBag.Title = "Register";
}

<head lang="en">
    <meta charset="UTF-8">
    <title>Webfolder Register | Webfolder</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="~/assets/i/favicon.png">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/assets/css/amazeui.min.css" rel="stylesheet" />
    <style>
        .header {
            text-align: center;
        }

            .header h1 {
                font-size: 200%;
                color: #333;
                margin-top: 30px;
            }

            .header p {
                font-size: 14px;
            }
    </style>
    <script src="~/Content/ViewJS/register.js"></script>
</head>

<div class="header">
    <div class="am-g">
        <h1>Webfolder Register</h1>
        <p>Find friend base on webfolder<br />发现兴趣、朋友、圈子...</p>
    </div>
    <hr />
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <div class="am-form am-form-horizontal">
            <div class="am-form-group">
                <label for="user-email" class="am-u-sm-3 am-form-label">电子邮件 / Email</label>
                <div class="am-u-sm-9">
                    <input type="email" id="UserEmail" placeholder="输入你的电子邮件 / Email">
                    <small>用来登陆的啦...</small>
                </div>
            </div>
            <div class="am-form-group">
                <label for="password" class="am-u-sm-3 am-form-label">密码 / Password</label>
                <div class="am-u-sm-9">
                    <input type="password" id="UserPassword" placeholder="输入密码 / Password">
                    <small>密码你懂得...</small>
                </div>
            </div>
            <div class="am-form-group">
                <label for="user-name" class="am-u-sm-3 am-form-label">姓名 / Name</label>
                <div class="am-u-sm-9">
                    <input type="text" id="UserName" placeholder="姓名 / Name">
                    <small>输入你的名字，让大家记住你。</small>
                </div>
            </div>
            <div class="am-form-group">
                <label for="user-phone" class="am-u-sm-3 am-form-label">电话 / Phone</label>
                <div class="am-u-sm-9">
                    <input type="tel" id="UserPhone" placeholder="输入你的电话号码 / Telephone">
                </div>
            </div>
            <div class="am-form-group">
                <label for="user-QQ" class="am-u-sm-3 am-form-label">QQ</label>
                <div class="am-u-sm-9">
                    <input type="tel" id="UserQQ" placeholder="输入你的QQ号码">
                </div>
            </div>
            <div class="am-form-group">
                <div class="am-u-sm-9 am-u-sm-push-3">
                    <button class="am-btn am-btn-primary" id="btnRegister">开始注册</button>
                    <a href="~/login" class="am-btn am-btn-link am-btn-sm am-fr">取消</a>
                </div>
            </div>
        </div>
        <hr>
        <p>© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </div>
</div>