/WebfolderSolution/WebfolderUI/bin
/WebfolderSolution/WebfolderService/bin
/WebfolderSolution/WebfolderBo/obj
/WebfolderSolution/WebfolderUI/obj
/WebfolderSolution/WebfolderService/obj
/WebfolderSolution/.vs
