/WebfolderSolution/WebfolderUI/bin
/WebfolderSolution/WebfolderService/bin
/WebfolderSolution/WebfolderBo/obj
/WebfolderSolution/WebfolderUI/obj
/WebfolderSolution/WebfolderService/obj
/WebfolderSolution/.vs
/WebfolderSolution/WebfolderBo/bin
/WebBookmarkSolution/WebBookmarkBo/bin
/WebBookmarkSolution/WebBookmarkBo/obj
/WebBookmarkSolution/WebBookmarkService/obj
/WebBookmarkSolution/WebBookmarkService/bin
/WebBookmarkSolution/WebBookmarkUI/bin
/WebBookmarkSolution/WebBookmarkUI/obj
/WebBookmarkSolution/WebBookmarkUI/UploadFiles/UserImportFile
/WebBookmarkSolution/WebBookmarkUI/UploadFiles/UserImg
/WebBookmarkSolution/.vs
/WebBookmarkSolution/packages
