@model WebBookmarkUI.Models.UIBookmarkInfo

@if(Model.IsShowWithiframe)
{
    <iframe src='@Model.Href' style="width:100%;height:700px;"></iframe>
}else
{
    <iframe style="width:100%;height:700px;" srcdoc='@Model.HTML'></iframe>
}


<div class="am-text-right">
    by &nbsp;<a href='@Model.Href' target="_blank">@Model.Href</a>
</div>

