@{
    ViewBag.Title = "Login";
}
@model WebfolderUI.Models.UIUserInfo
<head lang="en">
    <meta charset="UTF-8">
    <title>Login Page | Webfolder</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="~/assets/i/favicon.png">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/assets/css/amazeui.min.css" rel="stylesheet" />
    <script type="text/javascript">
    var loginUrl = './Login/UserLogin';
    </script>
    <script src="~/Content/ViewJS/login.js"></script>

    <style>
        .header {
            text-align: center;
        }

            .header h1 {
                font-size: 200%;
                color: #333;
                margin-top: 30px;
            }

            .header p {
                font-size: 14px;
            }
    </style>
</head>
    <div class="header">
        <div class="am-g">
            <h1>Webfolder login</h1>
            <p>Find friend base on webfolder<br />发现兴趣、朋友、圈子...</p>
        </div>
        <hr />
    </div>
    <div class="am-g">
        <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
            <div class="am-form">
                <label for="email">邮箱 / 登陆名:</label>
                @if (Model != null)
                {
                    <input type="text" name="" id="email" value=@Model.UserEmail placeholder="邮箱 / 登陆名">
                }
                else
                {
                    <input type="text" name="" id="email" value="" placeholder="请输入邮箱 / 登陆名">
                }

                <br>
                <label for="password">密码:</label>
                <input type="password" name="" id="password" value="" placeholder="请输入密码">
                <div class="am-cf">
                    <input id="login" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
                    <a class="am-btn am-btn-link am-btn-sm am-fl" href="~/Register">点我注册 ^_^</a>
                    <input name="" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">
                </div>
            </div>
            <hr>
            <p>© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
        </div>
    </div>


